/URL_Shortener_Service/node_modules/
/Uid_Generator/node_modules/
/Auth_Service/node_modules/
/URL_Shortener_Service/.env
/Uid_Generator/.env
/secret.yaml
/URL_Shortener_Service/config/database/firebase.js
